@media screen and (max-width: 1250px) {
  .desktop-logo {
    display: none;
  }

  .mobile-logo {
    display: inline-block;
  }

  .header-logo {
    width: 80px;
  }
}

@media screen and (max-width:767px) {
  .welcome_title {
    position: static;
  }

  .news {
    margin: 45px 0 145px;
  }

  .news_ul {
    padding: 0;
    margin: 0;
  }

  .news_li_block {
    align-items: flex-start;
  }

  .news_li_head {
    display: block;
    padding-top: 5px;
    text-align: center;
  }

  .news_li_date {
    margin-bottom: 5px;
    margin-right: 0;
  }

  .news_li_label {
    min-height: 25px;
    padding: .5em;
  }

  .news_li_desc {
    line-height: 2;
  }

  .footer_contact {
    display: block;
  }

  .footer_end {
    display: block;
  }

  .socials {
    margin: 30px 0 60px;
  }
}
